.DS_Store
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Raw downloads and resized images are large and are recreated by the prepare scripts.
data/pets/raw/
data/pets/processed/
data/fs2k/raw/
data/fs2k/processed/

mlruns/
wandb/
checkpoints/
outputs/
*.onnx
*.pt
*.pth
*.ckpt

report/build/
*.aux
*.log
*.out
*.synctex.gz
